@import '../styles/variables';
@import './mixins';
@import './animations';

@include screen-md-breakpoint {
    .about {
        padding: 200px 0;

        .col-12 {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: flex-start;
            align-content: flex-start;
        }

        .col-6 {
            p {
                margin: 0;
            }
        }

        .content {
            h2 {
                margin: 0;
            }


        }
    }
}