@import '../styles/variables';
@import './mixins';
@import './animations';

.contact {
    background-color: $white;
    padding: $xlarge-padding 20px;

    h2 {
        color: $green;
    }

    a h3 {
        text-decoration: underline solid 1px;
        color: $green;
    }

    .col-12 {
        margin: auto;
    }
}

@include screen-md-breakpoint {
    .contact {
        padding: $xlarge-padding 20;
    }
}