footer {
    width: 100%;
    background-color: #f3f3f3;
    
    .footer-container {
        padding: 20px;
    }

    li {
        &:first-child {
            font-weight: 800;
            color: $gold;
        }

        color: $blue;
        list-style: none;

        a {
            color: $blue;
        }
    }
}