footer {
    width: 100%;
    background-color: $green;
    
    .footer-container {
        display: flex;
        gap: 40px;
        padding: 40px;
        align-content: center;
        align-items: center;
    }

    li {
        color: $white;
        list-style: none;

        &.head {
            font-size: 24px;
            font-family: 'Montserrat-Medium';
            color: $gold;
        }

        svg {
            width: 150px;
        }

        a {
            color: $gold;
        }
    }
}