@import '../styles/variables';
@import './mixins';

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #303030;
}

html {
  font-size: 100%;
}

a, button{
  cursor: pointer;
}

img {
  width: 100%;
}

input {
  outline: none !important;
  border:1px solid gray;
  border-radius: 2px;

  &:focus {
    outline: none !important;
    border:1px solid $gold;
    border-radius: 2px;
  }

  margin-bottom: 20px;
}

textarea {
  outline: none !important;
  border:1px solid gray;
  border-radius: 2px;
  
  &:focus {
    outline: none !important;
    border:1px solid $gold;
    border-radius: 2px;
  }

  resize: none;
  height: 100px;
}

.col-12 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.full-width {
  width: 100%;  
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 100%;
}

@include screen-sm-breakpoint {
  .col-1, .col-2, .col-3, .col-4, .col-5 {
    width: 50%;
  }

  .col-6, .col-7, .col-8, .col-9 {
    width: 100%;
  }
}

@include screen-md-breakpoint {
  .col-1 {
    width: 12.5%;
  }

  .col-2 {
    width: 20%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 30%;
  }

  .col-5 {
    width: 40%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 60%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 80%;
  }
}

.content {
  h1, h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    font-family: 'Montserrat-Regular';
  }

  p {
    margin: 2.5rem 0;
  }
}

.img img {
  animation: smallReveal 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.box-shadow {
  box-shadow: 0 3px 5px 3px rgb(0 0 0 / 5%);
}

.gray-background {
  background: #fafafa;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@include screen-md-breakpoint {
  .row {
    flex-wrap: nowrap;
  }
}

section > .col-12 {
  padding: 0 20px;
}