@import '../styles/variables';
@import './mixins';

.hero {
    background-color: $blue;
    
    .col-12 {
        padding: 20px;
    }

    h1 {
        color: $gold;
    }

    h3 {
        color: $white;
    }

    p {
        color: $white;
    }

    h1, h3 {
        margin-block-start: 0em;
        margin-block-end: 0px;
    }

    a {
        color: $gold;
    }

    .img {
        img {
            width: 100%;
        }
    }
}

@include screen-lg-breakpoint {
    .hero {
        position: relative;
        margin-bottom: 120px;
        
        .img {
            line-height: 0;
            position: relative;
            top: 80px;
            right: -20px;
        }
        
        .col-12 {
            justify-content: space-between;
            align-items: center;
            display: flex;
        }
    }
}