nav {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: $blue;

  .col-12 {
    height: inherit;
  }
} 

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80;
}

nav .menu-items {
  display: flex;
}

nav .nav-container li {
  list-style: none;
}

nav .nav-container a {
  text-decoration: none;
  color: $white;
  font-weight: 500;
}

nav .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 80px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: $white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

nav .menu-items {
    background-color: $blue;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

nav .menu-items li {
    padding: 20px;
    border-bottom: 1px solid $gold;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}

nav .menu-items li:first-child {
    border-top: 1px solid $gold;
}

.logo {
    z-index: 2;
    position: absolute;
    width: 95px;
    left: 20px;
    top: 15px;
} 

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

@include screen-lg-breakpoint {
  .nav-container {
    .checkbox, .hamburger-lines {
      display: none ;
    }
  }

  nav .menu-items li {
    font-size: 1rem;
    border: none;

    &:first-child {
      border-top: none;
    }
  }

  nav .menu-items {
    justify-content: end;
    padding-top: 0px;
    height: 80px;
    background-color: transparent;
    transform: translate(0%);
    flex-direction: row;
  }
}