@import '../styles/variables';
@import './mixins';
@import './animations';

.partners {
    text-align: left;
    margin: 60px 20px;

    .content, .images {
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        margin-bottom: 30px;
    }

    .heading {
        h2 {
            max-width: 400px;
            color: $blue;
        }
    }

    .body {

        a {
            color: $gold
        }
    }

    img {
        width: 100%;
    }

    .images .col-2 {
        width: 50%;
    }

    h2 {
        color: $gold;
    }

    .images.col-12 {
        transition: all cubic-bezier(0.4, 0, 0.2, 1) .25s;
        img {
            filter: grayscale(1);

            &:hover {
                transition: all cubic-bezier(0.4, 0, 0.2, 1) .25s;
                filter: grayscale(0);
            }
        }
    }
}
    

@include screen-md-breakpoint {
    .partners {

        .content {
            display: flex;
            margin-bottom: $small-margin;
        }

        img {
            width: 75%;
        }

        .heading {
            display: flex;
            align-items: center;
            padding: $xlarge-padding 0;
        }

        .body {
            padding: $xlarge-padding 0;
        }

        .images {
            align-content: center;
            justify-content: center;
            margin-bottom: $medium-margin;

            .col-2 {
                width: 20%;
                display: flex;
                margin: 0 auto;
                align-content: center;
                justify-content: center;
            }
        }
    }
}