.projects {
    .col-12 {
            a {
            width: 100%;

            &:hover {
                .project img {
                    transform: scale(1.05);
                    transition: transform 0.4s ease-in-out;
                }
            }
        }

    .project {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        max-height: 400px;
        margin: 20px;
        background-color: $blue;
        position: relative;

        > div {
            overflow: hidden;
            max-height: 200px;
            min-height: 200px;
            margin-bottom: $xsmall-padding;
        }

        img {
            transition: transform 0.4s ease-in-out;
            width: 100%
        }

        h2 {
            flex: 1;
            padding: 0 20px;
            font-size: 1.75rem;
            color: $white;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }

        p {
            margin-block-start: 0;
            margin-block-end: 0;    
        }

        a, p {
            padding: 20px;
            color: $gold;
        }
    }
}
}

@include screen-md-breakpoint {
    .projects {
        padding: 60px 0;
        margin-bottom: $small-margin;

        .col-12 {
        display: flex;
        gap: 3%;

        .project {
            width: 100%;
            margin: 0px;
        }
    }
}
}