.projects {
    .project {
        width: calc(100% - 40px);
        margin: 20px;
        padding: 20px;
        background-color: $blue;
        position: relative;

        img {
            position: relative;
            top: -20px;
            left: -20px;
            right: 0;
            width: calc(100% + 40px);
        }

        h2 {
            padding-bottom: 50px;
            font-size: 2.369rem;
            color: $white;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }

        a {
            color: $gold;
        }
    }
}

@include screen-lg-breakpoint {
    .projects {
        padding: 0 20px;
        margin-bottom: $medium-margin;
        display: flex;
        gap: 3%;

        .project {
            width: 100%;
            margin: 0px;
        }
    }
}