@import './mixins';
@import './variables';

@font-face {
    font-family: 'Lora-Bold';
    src: url('../fonts/Lora/Lora-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Lora-Medium';
    src: url('../fonts/Lora/Lora-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Lora-Regular';
    src: url('../fonts/Lora/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1 {
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 4.209rem;
    font-family: Lora-Bold;
    font-weight: 400;

    @include screen-sm-breakpoint-max {
        font-size: 3.5em;
    }
}

h2 {
    color: $blue;
    font-family: Lora-Bold;
    font-size: 3.157rem;
    line-height: 50px;
    font-weight: 400;

    @include screen-sm-breakpoint-max {
        font-size: 2.75em;
    }
}

h3 {
    margin-top: 30px;
    font-family: Montserrat-Light;
    font-size: 2.369rem;
    color: $blue;
    font-weight: 400;

    @include screen-sm-breakpoint-max {
        margin-top: 0;
        font-size: 2em;
    }
}

h4 {
    font-family: Montserrat-Light;
    color: $blue;
    font-weight: 400;
    font-size: 1.777rem;
}

h5 {
    font-family: Montserrat-Light;
    color: $blue;
    font-weight: 400;
    font-size: 1.333rem;
}

small, .text_small {
    font-size: 0.75rem;
}


p, li, a, label {
    font-weight: 400;
    color: $blue;
    font-family: Montserrat-Light;
}

span[role=alert] {
    color: $green;
}

input, textarea {
    padding: 5px;
    font-weight: 400;
    color: $gold;
    font-family: Montserrat-Light !important;
}

button {
    font-family: Montserrat-Light !important;
}

.subhead, label {
    text-transform: capitalize;
    color: $blue;
    font-family: Montserrat-Light;
    text-decoration: underline;
}

label {
    margin-bottom: 5px;
}

.subhead {
    margin-bottom: 20px;
}

a.link, p.link {
    text-decoration: underline;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) .25s;
    font-weight: normal;

    &:hover {
        transition: all cubic-bezier(0.4, 0, 0.2, 1) .25s;
        font-weight: bolder;

        &:after {
            transition: all cubic-bezier(0.4, 0, 0.2, 1) .25s;
            margin-left: 13px;
        }
    }

    &::after {
        transition: all cubic-bezier(0.4, 0, 0.2, 1) .25s;
        display: inline-block;
        margin-left: 10px;
        width: 20px;
        content: url('../svg/arrow.svg');
    }
}

p.tag {
    display: none;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    color: $green !important;
}
  
p.tag.left {
    top: 50%;
    left: 10px;
    transform: rotate(-90deg);

}

p.tag.right {
    top: 50%;
    right: 10px;
    transform: rotate(90deg);
}

@include screen-lg-breakpoint {
    p.tag {
        display: block;
    }
}