
// Screen sizes
$screen-sm: 672px;
$screen-md: 990px;
$screen-lg: 1296px;

// Colors
$black: #303030;
$white: #e2e2e2;
$green: #233732;
$darkblue: #002136;
$gold: #bea055;
$lightgray: #fafafa;
$lightgray2:rgb(192, 192, 192);
$darkgrey: #707070;

// Margins
$xsmall-margin: 60px;
$small-margin: 120px;
$medium-margin: 240px;

// Paddings 
$xsmall-padding: 20px;
$small-padding: 40px;
$medium-padding: 60px;
$large-padidng: 80px;
$xlarge-padding: 100px;
