// Screen sizes
$screen-sm: 600px;
$screen-md: 900px;
$screen-lg: 1200px;
$screen-xl: 1600px;

// Colors
$black: #000;
$white: #fff;
$blue: #002841;
$gold: #bea055;
$green: #06afbe;
$lightgray: #fafafa;
$darkgrey: #707070;

// Margins
$small-margin: 120px;
$medium-margin: 240px;

// Paddings 
$small-padding: 20px