@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes smallReveal {
  0% {
    opacity: 0;
    transform: translate(0, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

a, button {
  cursor: pointer;
}

input {
  outline: none !important;
  border: 1px solid gray;
  border-radius: 2px;
  margin-bottom: 20px;
}
input:focus {
  outline: none !important;
  border: 1px solid #06afbe;
  border-radius: 2px;
}

textarea {
  outline: none !important;
  border: 1px solid gray;
  border-radius: 2px;
  resize: none;
  height: 100px;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #06afbe;
  border-radius: 2px;
}

.col-12 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 100%;
}

.col-3 {
  width: 100%;
}

.col-4 {
  width: 100%;
}

.col-5 {
  width: 100%;
}

.col-6 {
  width: 100%;
}

.gray-background {
  background: #fafafa;
}

.col-7 {
  width: 100%;
}

.box-shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
  .col-1 {
    width: 12.5%;
  }

  .col-2 {
    width: 20%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 30%;
  }

  .col-5 {
    width: 40%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 60%;
  }

  .col-9 {
    width: 75%;
  }
}
@font-face {
  font-family: "Lora-Bold";
  src: url("../fonts/Lora/Lora-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Lora-Medium";
  src: url("../fonts/Lora/Lora-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Lora-Regular";
  src: url("../fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h1 {
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 4.209rem;
  font-family: Lora-Bold;
  font-weight: 400;
}

h2 {
  color: #002841;
  font-family: Lora-Bold;
  font-size: 3.157rem;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 30px;
  font-family: Montserrat-Light;
  font-size: 2.369rem;
  color: #002841;
  font-weight: 400;
}

h4 {
  font-family: Montserrat-Light;
  color: #002841;
  font-weight: 400;
  font-size: 1.777rem;
}

h5 {
  font-family: Montserrat-Light;
  color: #002841;
  font-weight: 400;
  font-size: 1.333rem;
}

small, .text_small {
  font-size: 0.75rem;
}

p, li, a, label {
  font-weight: 400;
  color: #002841;
  font-family: Montserrat-Light;
}

span[role=alert] {
  color: #06afbe;
}

input, textarea {
  padding: 5px;
  font-weight: 400;
  color: #06afbe;
  font-family: Montserrat-Light !important;
  font-size: 16px !important;
}

button {
  font-family: Montserrat-Light !important;
  font-size: 14px !important;
}

.subhead, label {
  text-transform: capitalize;
  color: #002841;
  font-family: Montserrat-Light;
  text-decoration: underline;
}

label {
  margin-bottom: 5px;
}

.subhead {
  margin-bottom: 20px;
}

a.link {
  text-decoration: underline;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  font-weight: normal;
}
a.link:hover {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  font-weight: bolder;
}
a.link:hover:after {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  margin-left: 13px;
}
a.link::after {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  content: url("../svg/arrow.svg");
}

p.tag {
  display: none;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: #06afbe !important;
}

p.tag.left {
  top: 50%;
  left: 10px;
  transform: rotate(-90deg);
}

p.tag.right {
  top: 50%;
  right: 10px;
  transform: rotate(90deg);
}

@media (min-width: 1200px) {
  p.tag {
    display: block;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  line-height: 1.75;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

ul {
  padding: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes smallReveal {
  0% {
    opacity: 0;
    transform: translate(0, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero {
  background-color: #002841;
}
.hero .col-12 {
  padding: 20px;
}
.hero h1 {
  color: #bea055;
  line-height: 0.95em;
}
.hero h3 {
  font-size: 2em;
  color: #fff;
}
.hero p {
  color: #fff;
}
.hero h1, .hero h3 {
  margin-block-start: 0.25em;
  margin-block-end: 0px;
}
.hero a {
  color: #bea055;
}
.hero .img img {
  width: 100%;
}

@media (min-width: 1200px) {
  h1 {
    overflow: hidden;
  }

  h1 span {
    display: block;
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  h3 {
    overflow: hidden;
  }

  h3 span {
    display: block;
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  .logo {
    animation: fadeIn 1.25s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  p {
    animation: fadeIn 1.25s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  a {
    animation: fadeIn 1.25s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  .img {
    overflow: hidden;
  }

  .img img {
    animation: smallReveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  .hero {
    position: relative;
    margin-bottom: 240px;
  }
  .hero .img {
    line-height: 0;
    position: relative;
    top: 80px;
    right: -20px;
  }
  .hero h3 {
    margin-bottom: 1.5em;
  }
  .hero .col-12 {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}
nav {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: #002841;
}
nav .col-12 {
  height: inherit;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80;
}

nav .menu-items {
  display: flex;
}

nav .nav-container li {
  list-style: none;
}

nav .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

nav .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 80px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

nav .menu-items {
  background-color: #002841;
  padding-top: 80px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

nav .menu-items li {
  padding: 20px;
  border-bottom: 1px solid #bea055;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

nav .menu-items li:first-child {
  border-top: 1px solid #bea055;
}

.logo {
  z-index: 2;
  position: absolute;
  width: 95px;
  left: 20px;
  top: 15px;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

@media (min-width: 1200px) {
  .nav-container .checkbox, .nav-container .hamburger-lines {
    display: none;
  }

  nav .menu-items {
    justify-content: end;
    padding-top: 0px;
    height: 80px;
    background-color: transparent;
    transform: translate(0%);
    flex-direction: row;
  }
  nav .menu-items li {
    font-size: 1rem;
    border: none;
  }
  nav .menu-items li:first-child {
    border-top: none;
  }
  nav .menu-items a {
    position: relative;
  }
  nav .menu-items a:after {
    height: 1px;
    background-color: #bea055;
    display: block;
    position: absolute;
    bottom: -0.25rem;
    width: 0;
    left: auto;
    right: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    transition-duration: 0.5s;
    content: "";
  }
  nav .menu-items a:hover::after {
    left: 0;
    right: auto;
    width: 100%;
  }
}
.projects .project {
  width: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: #002841;
  position: relative;
}
.projects .project img {
  position: relative;
  top: -20px;
  left: -20px;
  right: 0;
  width: calc(100% + 40px);
}
.projects .project h2 {
  padding-bottom: 50px;
  font-size: 2.369rem;
  color: #fff;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.projects .project a {
  color: #bea055;
}

@media (min-width: 1200px) {
  .projects {
    padding: 0 20px;
    margin-bottom: 240px;
    display: flex;
    gap: 3%;
  }
  .projects .project {
    width: 100%;
    margin: 0px;
  }
}
footer {
  width: 100%;
  background-color: #002841;
}
footer .footer-container {
  padding: 20px;
}
footer li {
  color: #fff;
  list-style: none;
}
footer li:first-child {
  color: #bea055;
}
footer li a {
  color: #fff;
}

.about {
  text-align: center;
  margin: 20px;
}
.about .content {
  max-width: 600px;
}
.about h2 {
  color: #bea055;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes smallReveal {
  0% {
    opacity: 0;
    transform: translate(0, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro {
  background-color: #002841;
}
.intro .col-12 {
  padding: 20px;
}
.intro h1 {
  color: #bea055;
  line-height: 0.95em;
}
.intro h3 {
  font-size: 2em;
  color: #fff;
}
.intro p {
  color: #fff;
}
.intro h1, .intro h3 {
  margin-block-start: 0.25em;
  margin-block-end: 0px;
}
.intro a {
  color: #bea055;
}
.intro .img img {
  width: 100%;
}

.cta .col-12 {
  padding: 20px;
}

@media (min-width: 1200px) {
  .break {
    display: none;
  }

  h1 {
    overflow: hidden;
  }

  h1 span {
    display: block;
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  h3 {
    overflow: hidden;
  }

  h3 span {
    display: block;
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  .logo {
    animation: fadeIn 1.25s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  p {
    animation: fadeIn 1.25s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  a {
    animation: fadeIn 1.25s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  .img img {
    animation: smallReveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  .intro {
    position: relative;
    margin-bottom: 120px;
  }
  .intro .img {
    background: linear-gradient(0deg, white 50%, #002841 50%);
  }
  .intro .img .col-12 {
    position: relative;
  }
  .intro .col-12 {
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
  }

  .cta .col-12 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    margin-bottom: 120px;
  }
}

/*# sourceMappingURL=index.css.map */
